#success h3{background: green;}
#success{width: 50%; height: 115px; background: lightgreen;}
#successDuplicated h3{background: green;}
#successDuplicated{width: 50%; height: 115px; background: lightgreen;}
#fail h3{background: red;}
#fail{width: 50%; height: 115px; background: indianred}
.ui-widget-header {background: red;}
.no-close .ui-dialog-titlebar-close {display: none;}

div.buttons {padding-top: 2px;}
a.button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}
a.button:hover { background: rgb(232,95,76); }
a.button:active { background: rgb(152,15,0); }

.tile {background: red; width: 25px; height: 25px; display:inline-block; margin-top: 5px;}